# Core functionality - changes here should be rare!
/src/app.py                   @meganhamilton88
/src/backend/database.py      @meganhamilton88
/src/backend/routers/auth.py  @meganhamilton88

# The frontend will need refactored soon to be more object oriented.
/src/static/   @meganhamilton88
